* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    width: 100%;
    padding: 20px 40px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2d2d2d;
}

.header-left {
    display: flex;          /* make the container flex */
    flex-direction: row;    /* row layout (default, actually) */
    align-items: center;    /* vertical alignment */
    gap: 15px;              /* space between logo and link */
}

.header-left a {
    text-decoration: none;
    color: #555;
}

.header-left a:hover {
    color: #0069ff;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-right a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.2s;
}

.header-right a:hover {
    color: #0069ff;
}

/* Hero Section */
.hero {
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

/* Form */
.shorten-form {
    display: flex;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    gap: 12px;
    align-items: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.shorten-form input[type="text"] {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
}

.shorten-form label {
    font-size: 14px;
    color: #333;
}

.shorten-form button {
    background: #0069ff;
    padding: 12px 18px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.shorten-form button:hover {
    background: #0053d6;
}

/* Short URL Output */
.output {
    margin-top: 25px;
    background: #eef6ff;
    padding: 15px;
    border-radius: 8px;
}

.output a {
    font-weight: bold;
    color: #0069ff;
}

/* URL Table */
.list {
    width: 90%;
    max-width: 900px;
    margin-top: 50px;
}

.list h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

thead {
    background: #0069ff;
    color: #fff;
}

td, th {
    padding: 12px 15px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background: #f7faff;
}

tbody a {
    color: #0069ff;
    font-weight: 500;
}