<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form action="/shorten" method="post" th:action="@{/shorten}" th:object="${url}">
        <div class="inputButtonWrapper">
            <div class="inputGroup">
                <input type="text" name="originalURL" placeholder="Paste your URL" required>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Shorten</button>
        </div>
    </form>

    <div th:if="${shortURL}">
        <p>Shortened URL:</p>
        <a th:href="${shortURL}" th:text="${shortURL}"></a>
    </div>
</body>
</html>